<!--<nav th:fragment="siteHeader" class="bg-white shadow-md p-4 flex justify-between items-center">-->
<!--    <div class="text-2xl font-bold text-green-600">Ololade TrainBooking</div>-->
<!--    <div class="space-x-4">-->
<!--        <a th:href="@{/}" class="text-gray-700 hover:text-green-600">Home</a>-->
<!--        <a th:href="@{/api/v1/auth/schedule/schedule-route}" class="text-gray-700 hover:text-green-600">Train-TimeTable</a>-->
<!--        <a th:href="@{/api/v1/auth/login}" class="text-gray-700 hover:text-green-600">Login</a>-->
<!--        <a th:href="@{/api/v1/auth/booking/bookings-history}" class="text-gray-700 hover:text-green-600">My Bookings</a>-->
<!--        <a th:href="@{/api/v1/auth/admin/display-registration-form}" class="text-gray-700 hover:text-green-600">Register</a>-->
<!--    </div>-->
<!--</nav>-->




